<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{16} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log-file:-BackupValidator}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${log-file:-BackupValidator}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="reportFileName" value="failed-tests.log" scope="context"/>
    <appender name="REPORT_FILE" class="ch.qos.logback.core.FileAppender">
        <!-- use the previously created timestamp to create a uniquely
             named log file -->
        <file>${reportFileName}</file>
        <encoder>
            <pattern>%logger{0} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <append>false</append>
    </appender>

    <logger name="sparc.team3.validator" level="${log-level:-INFO}">
        <appender-ref ref="FILE" />
        <appender-ref ref="REPORT_FILE" />
    </logger>
    <logger name="software.amazon.awssdk" level="${aws-log-level:-WARN}">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="com.zaxxer.hikari" level="${sql-log-level:-WARN}">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="net.schmizz" level="${ssh-log-level:-WARN}">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.openqa" level="${selenium-log-level:-WARN}">
        <appender-ref ref="FILE" />
    </logger>
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>